body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/*HEADER*/
header {
  background: url(../images/header.jpg) center -50px;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

header .logo {
  height: 50px;
  width: 50px;
  float: left;
  margin: 10px 0 0 30px;
  opacity: 0.4;
}

header .logo:hover {
  opacity: 0.7;
}

header nav {
  float: right;
  margin: 30px 30px 0 0;
}

header nav a {
  display: inline-block;
  margin-right: 30px;
  color: rgba(0,0,0,0.5);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration:none
}

header nav a:hover {
  color: rgba(0,0,0,0.7);
}

header h1 {
  text-align:center;
  font-size: 72px;
  font-weight: 700px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 100px;
  margin-bottom: 20px;
  clear: both;
}

header h1 span {
  display: inline-block;
  padding: 0.2em 0.5em;
  border: #fff solid 10px;

}

header .subtitle {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color:#fff;
  line-height: 1;
}

@media (max-width:640px) {
  header .logo {
    margin: 10px 45%;
    text-align: justify;
    float:none;
  }

  header nav {
    float:none;
    text-align:center;
    padding-top: 20px;
    margin: 0 auto;
  }

  header h1 {
    padding-top: 0px;
    font-size: 10vw;
  }
}


/*ABOUT*/
h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #666;
  text-align: center;
  padding: 50px 0 30px;
}

.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background: url(../images/profile.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-flex;
  margin: 0 auto;
}

.blurb {
  max-width: 620px;
  padding: 0 15px;
  margin: 50px auto;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
}

/*PROJECTS*/
.projects {
  background-color: #eee;
}

.project-section {
  overflow-x: hidden;
}

.project-slider {
  width:200%;
  position:relative;
  left: 0%;
  transition: left 0.5s;
}

.thumbnail-wrap, .project-wrap {
  width: 50%;
  float: left;
}

.thumbnail-box {
  max-width: 960px;
  margin: 0px auto;
  padding-bottom: 50px;
  overflow: auto;
  zoom: 1;
}

.thumb {
  display:block;
  width: 25%;
  padding-top: 16%;
  float: left;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
}

@media screen and (max-width: 760px) {
  .thumb {
    width: 50%;
    padding-top: 26%;
  }
}

.raid-thumb {
  background-image: url(../images/raid-ready-float.jpg);
}

.happy-thumb {
  background-image: url(../images/hb-iphone.jpg);
}

.ww-thumb {
  background-image: url(../images/ww-macbook.jpg);
}

.bnb-thumb {
  background-image: url(../images/mb-logo.jpg);
}


.thumb-overlay {
  position:absolute;
  top: 100%;
  right: 0px;
  bottom: 0;
  left: 0px;
  height: 100%;
  text-align: center;
  transition: top .2s;
  display:flex;
  align-items:center;
  justify-content:space-around;
  background-color: #2d2d2d;
  opacity: 0.6;


}

.thumb-overlay strong {
  display: block;
  padding: 20px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.2;
  align-items: center;
  justify-content: center;
}


.thumb:hover .thumb-overlay {
  position:absolute;
  top: 0%;
  right: 0px;
  bottom: 0;
  left: 0px;
}

.project-box {
  max-width: 600px;
  margin: 0px auto;
  padding-bottom: 50px;
  display:none;
}

.project-image {
  max-width: 100%;
  margin-bottom: 20px;
}

.project-box h4 {
  color: #666;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 20px;
}

.project-return {
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: rgba(0,0,0,0.4);
  opacity: 0.5;
  position:relative;
  top: 45px;
  right: null;
  bottom: null;
  left: -60px;
}

@media screen and (max-width: 740px) {
  .project-container {

  }
  .project-return {
    left:20px
  }

  .project-box h4 {
    margin-left: 60px;
  }
}

.project-return:hover {
  opacity:1;
}

/*CONTACT*/

.contact-section {
  text-align:center;
}

.social {
  max-width: 700px;
  margin: 0px auto 50px;
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}

.social a {
  display:block;
  background: #eee;
  height: 50px;
  width: 50px;
  line-height: 50px;
  color: rgba(0,0,0,0.7);
  border-radius: 50%;
  font-size: 28px;
  margin: 20px;
  position: relative;
}

.social a:hover {
  transform: scale(1.2);
  color: rgba(0,0,0,0.7);
}

.horizontal-bar {
  width: 20vw;
  height: 0px;
  border-top: 4px solid #666;
  margin: 0px auto 50px;
}

.email {
  display: inline-block;
  font-size: 8vw;
  font-weight: 300;
  color: rgba(0,0,0,0.5);
  line-height: 1;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-decoration: none;
}

.email:hover {
  color: rgba(0,0,0,0.7);
}

/*CONTACT FORM*/

.contact-section form {
  max-width: 450px;
  margin: 0 auto 50px;
}

.contact-section form input, textarea {
  border: 3px solid rgba(0,0,0,0.5);
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.contact-section form input:focus, textarea:focus {
  outline:none;
  border-color: rgba(0,0,0,0.7);
}

.contact-section form label {
  display: block;
  margin-bottom: 20px;
}

.contact-section form label span {
  display:block;
}

.details label{
  width: 50%;
  float:left;
  box-sizing: border-box;
}

.details label:nth-child(1) {
  padding-right:5px;
}

.details label:nth-child(2) {
  padding-left:5px;
}

.contact-section form textarea {
  height: 10em;
}

.contact-section form input[type="submit"] {
  background: rgba(0,0,0,0.5);
  color: white;
  font-size:18px;
  text-transform: uppercase;
  width: 33%;
}

.contact-section form input[type="submit"]:hover {
  background: rgba(0,0,0,0.7);
}

.submit-wrap {
  text-align: right;
}



/*FOOTER*/
footer {
  background: url(../images/header.jpg) center -50px;
  background-size: cover;
  background-repeat: no-repeat;

}

footer .logo {
  height: 50px;
  width: 50px;
  float: left;
  margin: 10px 0 0 30px;
  opacity: 0.4;
}

footer .logo:hover {
  opacity: 0.7;
}

footer nav a {
  display: inline-block;
  margin-right: px;
  color: rgba(0,0,0,0.5);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration:none
}

footer nav a:hover {
  color: rgba(0,0,0,0.7);
}

.end {
  padding: 50px 0;
  overflow: auto;
}

.end .logo {
  margin: 0px 30px 0 30px;
}

.content-wrap {
  float: left;
}

.copyright {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(0,0,0,0.4)
}
